body{
background-image: url("restaurant.jpg");
background-size: cover;
}



.login{
font-family: Copperplate, Papyrus, fantasy;
text-align: center;
font-size: 45px;
text-shadow: 0 0 15px red, 0 0 5px blue;
margin: 0;
padding: 20px 20px;


}

.form-Login{
width: 450px;
height: 600px;
padding: 0px 50px;
position: absolute;
top: 53%;
left: 50%;
transform: translate(-50% , -50%);
box-sizing: border-box;
background: rgba(0, 0, 0, 0.4);
}

.image{
height: 100px;
width: 100;
position: relative;
bottom: 50px;
left: 100px;
}

.label{
color: #fff;
font-weight: bold;
}
.input{
width: 100%;
margin: 10px 0px;
}
.input[type="text"],
.input[type="email"],
.input[type="password"] {
border: none;
outline: none;
height: 40px;
background: transparent;
border-bottom: 1px solid #fff;
color: #fff;
font-size: 16px;
}

.button{
height: 40px;
border: none;
outline: none;
color: #fff;
font-size: 16px;
box-shadow:0 0 15px red, 0 0 7px blue ;
background-color: blue;
border-radius: 5px;
cursor: pointer;
margin-bottom: 25px;
transition: .5s ease;
}

.button:hover{
transform: scale(1.1);
}

.signup{
text-decoration: none;
font-weight: bold;
font-size: 20px;
}